@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root{
    --primary-color: #e88035;
    --primary-color-dark: #d46a21;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7em;
    background-color: #fafafa;
}

a{
    text-decoration: none;
    text-align: center;
}

ul{
    list-style: none;
}

input, select, textarea{
    border: 1px solid #797979;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: 1rem;
}

input, select, textarea{
    width: 100%;
}

textarea{
    resize: none;
}

select{
    cursor: pointer;
}

textarea:focus,
input:focus{
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 2px var(--primary-color);
}

/*----------------Utilities----------------*/

.container{
    margin: auto;
    max-width: 1200px;
    overflow: auto;
    padding: 0 20px;
}

.small-container{
    margin: auto;
    max-width: 900px;
    overflow: auto;
    padding: 0 20px;
}

.form-container {
    margin: auto;
    max-width: 400px;
}

.center{
    text-align: center;
}

.primary-color{
    color: var(--primary-color);
}

.current,
.navbar a:hover{
    border-bottom: 2px solid var(--primary-color);
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    line-height: inherit
}

.btn-primary,
.bg-primary {
    color: #fff;
    background: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
}

.btn-secondary,
.bg-secondary {
    color: #fff;
    background: #0284d0;
}

.btn-dark,
.bg-dark {
    color: #fff;
    background: #333;
}

.btn-ligth,
.bg-light {
    color: #333;
    background: #f4f4f4;
}

.btn-negative{
    color: #fff;
    background-color: #e82a2a;
}

.btn-negative:hover{
    color: #fff;
}

.btn-neutro{
    background-color: #2194dc;
    color: #fff;
}

.btn-neutro:hover{
    background-color: #1e86c2;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

.v-line{
    border-right:1px solid #797979;
    width: 1%;
}



/*Tabs*/

.tabs{
    display: flex;
    justify-content: space-between;
}

.tab{
    cursor: pointer;
    width: 33%;
    text-align: center;
}

.tab:hover{
    color: var(--primary-color);
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.tabs-nav{
    margin-bottom: 20px;
}

.small-container{
    background-color: #fff;
    border-radius: 10px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: 100px auto auto;
    padding: 20px 20px 0;
    background-color: #fff;
    border-radius: 5px;
}

.wrap textarea{
    width: 100%;
    resize: none;
}

/*---------------------Profile---------------------*/

/*Navbar*/

.navbar{
    background-color: #c9c9c9;
    height: 70px;
    margin-bottom: 20px;
}

.navbar .container {
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;

}

.navbar ul {
    display: flex;
}

.navbar ul a {
    color: #fff;
    padding: 0 10px 10px 10px;
    margin: 0 0 0 10px;
}

/*User Info*/

.profile {
    display: flex;
    justify-content: space-between;
}

.btn{
    margin: 20px 0;
    font-size: 1rem;
}

.profile .userInfo {
    width: 25%;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
}

.profile .userInfo,
.profile .basicInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .basicInfo h2{
    text-align: center;
}

.profile .basicInfo .square-image-container{
    position: relative;
    margin-bottom: 15px;
    width:100%;
    height:0;
    padding-bottom: 100%;
}

.basicInfo .square-image-container .profile-pic {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile .userInfo h3{
    margin-top: 15px;
}

.profile .contactInfo{
    align-self: flex-start;
}
.profile .contactInfo .label{
    font-weight: 500;
    margin-top: 10px;
    line-height: 1em;
}

/*Courses Table*/

.profile-table{
    width: 72%;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 20px;
}

.profile-table h2{
    margin: 10px 0;
}

.profile-table table{
    width: 100%;
}

.empty-table{
    margin: 50px 0;
    text-align: center;
}

.empty-table h3{
    color: #6a6a6a;
}

/*course profile*/

.small-container > h1{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

/*---------------------Tables---------------------*/

.container.list{
    display: flex;
    justify-content: space-between;
}

.container .table-options{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.container .table-options div .btn{
    margin-top: 5px;
    margin-bottom: 25px;
}

.container .table-options div,
.container .table-options div select,
.container .table-options div input{
    width: 100%;
}

.table-options .btn{
    width: 100%;
}

.container .table-content {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .table-content .btn{
    align-self: start;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table td,
table th{
    border-bottom: 1px solid #797979;
    padding-top: 10px;
    padding-left: 5px;
}

table th{
    text-align: left;
    min-width: 50px;
    background-color: #e5e5e5;
}

table .side-header{
    box-sizing: unset;
    text-align: right;
    min-width: 100px;
    padding-top: 10px;
    padding-right: 5px;
}

/*---------------------Pagination---------------------*/

.pagination a{
    padding: 3px 8px;
    border: 1px solid #cecece;
    color: black;
}

.pagination a:hover:not(.selected-page) {
    background-color: #ddd;
}

.pagination .selected-page{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 3px;
}

.pagination .disabled{
    color: #797979;
    background-color: #fafafa;
    border: 1px solid #cecece;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrap div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.pagination select{
    width: unset;
}

/*---------------------Forms---------------------*/

.error-text,
.error-icon{
    color: red;
}

.error-icon{
    position: absolute;
    display: inline-block;
}

.error-icon:hover .text-bubble{
    visibility: visible;
}

.text-bubble {
    visibility: hidden;
    font-weight: 100;
    font-size: .9rem;
    width: 140px;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -70px;
}

.text-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #1d1d1d;
    border-bottom: 0;
    margin-left: -6px;
    margin-bottom: -6px;
}

.input-container{
    position:relative;

}

/*.input-container input{*/
/*    padding-right: 30px;*/
/*}*/

.input-container .error-icon {
    /*position:absolute;*/
    bottom:6px;
    right:5px;

}

form .two-inputs{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

form .two-inputs div{
    width: 45%;
}

.form-container{
    padding: 20px 40px;
    background-color: #fff;
}
.form-container form{
    /*text-align: center;*/
}

.form-frag{
    margin-top: 20px;
}



.error-border{
    border: 1px solid red;
    border-radius: 5px;
}

form div label{
    display: block;
}

