<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/universitycrm/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/universitycrm/css/style.css}">
    <script src="https://kit.fontawesome.com/dc13882508.js" crossorigin="anonymous"></script>
    <title>Course Form</title>
</head>

<body>

<header>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo"><span class="primary-color">U</span>-CRM</h1>
            <ul>
                <li><a th:href="@{/portfolio/universitycrm/students/list}">Students</a></li>
                <li><a th:href="@{/portfolio/universitycrm/instructors/list}">Instructors</a></li>
                <li><a class="current" th:href="@{/portfolio/universitycrm/courses/list}">Courses</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="form-container">
        <h3>Course Directory</h3>

        <form action="#" th:action="@{/portfolio/universitycrm/courses/save}" th:object="${course}" method="POST" autocomplete="off">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <div class="form-frag input-container">
                <label>Course Prefix:</label>
                <input type="text" th:field="*{prefix}">

                <!-- Add error message (if present) -->
                <i th:if="${#fields.hasErrors('prefix')}" class="error-icon fas fa-exclamation-circle">
                    <span th:errors="*{prefix}" class="text-bubble"></span>
                </i>
            </div>
            <div class="form-frag input-container">
                <label>Course Number:</label>
                <input type="text" th:field="*{number}">

                <i th:if="${#fields.hasErrors('number')}" class="error-icon fas fa-exclamation-circle">
                    <span th:errors="*{number}" class="text-bubble"></span>
                </i>
            </div>
            <div class="form-frag input-container">
                <label>Course Title:</label>
                <input type="text" th:field="*{title}">

                <i th:if="${#fields.hasErrors('title')}" class="error-icon fas fa-exclamation-circle">
                    <span th:errors="*{title}" class="text-bubble"></span>
                </i>
            </div>
            <div class="form-frag input-container">
                <label>Description:</label>
                <textarea th:field="*{description}" cols="31" rows="10" maxlength="512"></textarea>

                <i th:if="${#fields.hasErrors('description')}" class="error-icon fas fa-exclamation-circle">
                    <span th:errors="*{description}" class="text-bubble"></span>
                </i>
            </div>
            <div class="form-frag input-container">
                <label>Instructor:</label>
                <select name="iid">
                    <option value="0" th:text="--"></option>
                    <option th:each="tempInstructor : ${instructorList}"
                            th:text="${tempInstructor.id} + '. ' + ${tempInstructor.firstName} + ' ' + ${tempInstructor.lastName}"
                            th:value="${tempInstructor.id}"
                            th:selected="${tempInstructor.id == iid}"></option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</main>
</body>

</html>