<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/universitycrm/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/universitycrm/css/style.css}">
    <script src="https://kit.fontawesome.com/dc13882508.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title th:text="${individual.firstName + ' ' + individual.lastName}"></title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <h1 class="logo"><span class="primary-color">U</span>-CRM</h1>
                <ul>
                    <li><a th:classappend="${!staff} ? 'current'" th:href="@{/students/list}">Students</a></li>
                    <li><a th:classappend="${staff} ? 'current'" th:href="@{/instructors/list}">Instructors</a></li>
                    <li><a th:href="@{/courses/list}">Courses</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <a class="btn btn-primary" th:href="${staff} ? @{/instructors/list} : @{/students/list}"><i class="fas fa-chevron-left"></i> <span th:text="${staff} ? 'Instructors List' : 'Students List'"/></a>
            <div class="profile">
                <div class="userInfo">
                    <div class="basicInfo">
                        <div class="square-image-container">
                            <img class="profile-pic" th:src="${individual.details.profilePic}" alt="Profile Picture">
                        </div>
                        <h2 th:text="${individual.firstName + ' ' + individual.lastName}"></h2>
                        <p id="major" th:if="${!staff}" th:text="${individual.details.major}"></p>
                    </div>

                    <h3>Contact information</h3>

                    <div class="contactInfo">
                        <div>
                            <p class="label">Email:</p>
                            <p th:text="${individual.email}"></p>
                        </div>
                        <div>
                            <p class="label">Phone Number:</p>
                            <p id="phoneNumber" th:text="${individual.details.phoneNumber}" th:value="${individual.details.phoneNumber}"></p>
                        </div>
                        <div th:if="${!staff}">
                            <p class="label">Address:</p>
                            <p th:text="${individual.details.address} + ','"></p>
                            <p th:text="${individual.details.city + ', ' + individual.details.state}"></p>
                        </div>
                        <div th:if="${staff}">
                            <p class="label">Office Location:</p>
                            <p th:text="${individual.details.office}"></p>
                            <p class="label">Youtube Channel:</p>
                            <p th:text="${individual.details.youtubeChannel}"></p>
                        </div>
                    </div>
                    <div th:if="${staff}">
                        <a class="btn btn-negative" th:href="@{/instructors/delete(individualId=${individual.id})}"
                           onclick="if(!(confirm('Are you sure you want to delete this instructor?'))) return false">Delete</a>
                        <a class="btn btn-neutro" th:href="@{/instructors/updateForm(individualId=${individual.id})}">Update</a>
                    </div>
                    <div th:unless="${staff}">
                        <a class="btn btn-negative" th:href="@{/students/delete(individualId=${individual.id})}"
                           onclick="if(!(confirm('Are you sure you want to delete this student?'))) return false">Delete</a>
                        <a class="btn btn-neutro" th:href="@{/students/updateForm(individualId=${individual.id})}">Update</a>
                    </div>
                </div>

                <div class="profile-table">
                    <h2> Courses <span th:text="${staff} ? 'Teaching' : 'Taking'"></span> </h2>

                    <table th:if="${#lists.size(individual.courses) > 0}">
                        <thead>
                            <th>ID</th>
                            <th>Class</th>
                            <th>Title</th>
                            <div th:if="${!staff}">
                            <th>Professor</th>
                            </div>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr th:each="tempCourse : ${individual.courses}">
                                <td><a th:text="${tempCourse.id}" th:href="@{/courses/{id}(id=${tempCourse.id})}"></a>
                                </td>
                                <td th:text="${tempCourse.prefix + ' ' + tempCourse.number}"></td>
                                <td th:text="${tempCourse.title}"></td>
                                <div th:if="${!staff}">
                                    <td> <a th:href="@{../instructors/{id}(id=${tempCourse.instructor.id})}" th:text="${tempCourse.instructor.firstName + ' ' + tempCourse.instructor.lastName}"></a> </td>
                                </div>
                                <td th:if="${!staff}">
                                    <a th:href="@{/students/dropCourse(cid=${tempCourse.id}, sid=${individual.id})}"
                                        onclick="if(!(confirm('Are you sure you want to drop this class?'))) return false">Drop</a>
                                </td>
                                <td th:unless="${!staff}">
                                    <a th:href="@{/instructors/removeCourse(courseId=${tempCourse.id}, instructorId=${individual.id})}"
                                       onclick="if(!(confirm('Are you sure you want to remove this class?'))) return false">Remove</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="empty-table" th:unless="${#lists.size(individual.courses) > 0}">
                        <h3>This <span th:text="${staff} ? 'instructor' : 'student'"></span> is not <span th:text="${staff} ? 'teaching' : 'enrolled in'"></span> any class</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" th:src="@{/universitycrm/js/utilities.js}"></script>

</body>
</html>