<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/universitycrm/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/universitycrm/css/style.css}">
    <script src="https://kit.fontawesome.com/dc13882508.js" crossorigin="anonymous"></script>
    <title th:text="${staff} ? 'Instructor Form' : 'Student Form'"></title>
</head>

<body>

<header>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo"><span class="primary-color">U</span>-CRM</h1>
            <ul>
                <li><a th:classappend="${!staff} ? 'current'" th:href="@{/portfolio/universitycrm/students/}">Students</a></li>
                <li><a th:classappend="${staff} ? 'current'" th:href="@{/portfolio/universitycrm/instructors/}">Instructors</a></li>
                <li><a th:href="@{/portfolio/universitycrm/courses/}">Courses</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="form-container">
        <h3 th:text="${staff} ? 'Instructor Directory' : 'Student Directory'"></h3>

        <form action="#" th:action="${staff} ? @{/portfolio/universitycrm/instructors/save} : @{/portfolio/universitycrm/students/save}" th:object="${individual}" method="POST" autocomplete="off">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <div class="two-inputs form-frag">
                <div class="input-container">
                    <label>First Name:</label>
                    <input type="text" th:field="*{firstName}"  th:classappend="${#fields.hasErrors('firstName')} ? 'error-border'">

                    <!-- Add error message (if present) -->
                    <i th:if="${#fields.hasErrors('firstName')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{firstName}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="input-container">
                    <label>Last Name:</label>
                    <input type="text" th:field="*{lastName}"  th:classappend="${#fields.hasErrors('lastName')} ? 'error-border'">
                    <i th:if="${#fields.hasErrors('lastName')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{lastName}" class="text-bubble"></span>
                    </i>
                </div>
            </div>

            <div class="form-frag input-container">
                <label>Email:</label>
                <input type="text" th:field="*{email}"  th:classappend="${#fields.hasErrors('email')} ? 'error-border'">
                <i th:if="${#fields.hasErrors('email')}" class="error-icon fas fa-exclamation-circle">
                    <span th:errors="*{email}" class="text-bubble"></span>
                </i>
            </div>

            <div id="student" th:if="${!staff}">
                <input type="hidden" th:field="*{details.id}" />
                <div class="form-frag input-container">
                    <label>Phone Number:</label>
                    <input type="text" th:field="*{details.phoneNumber}"  th:classappend="${#fields.hasErrors('details.phoneNumber')} ? 'error-border'" maxlength="10">
                    <i th:if="${#fields.hasErrors('details.phoneNumber')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.phoneNumber}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="form-frag input-container">
                    <label>Major:</label>
                    <input type="text" th:field="*{details.major}"  th:classappend="${#fields.hasErrors('details.major')} ? 'error-border'">
                    <i th:if="${#fields.hasErrors('details.major')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.major}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="form-frag input-container">
                    <label>Date of Birth:</label>
                    <input type="text" th:field="*{details.dateOfBirth}"  th:classappend="${#fields.hasErrors('details.dateOfBirth')} ? 'error-border'" placeholder="MM/DD/YYYY">
                    <i th:if="${#fields.hasErrors('details.dateOfBirth')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.dateOfBirth}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="form-frag input-container">
                    <label>Profile Picture:</label>
                    <input type="text" th:field="*{details.profilePic}"  th:classappend="${#fields.hasErrors('details.profilePic')} ? 'error-border'" placeholder="URL">
                    <i th:if="${#fields.hasErrors('details.profilePic')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.profilePic}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="form-frag input-container">
                    <label>Street Address:</label>
                    <input type="text" th:field="*{details.address}"  th:classappend="${#fields.hasErrors('details.address')} ? 'error-border'">
                    <i th:if="${#fields.hasErrors('details.address')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.address}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="form-frag two-inputs">
                    <div class="input-container">
                        <label>City:</label>
                        <input type="text" th:field="*{details.city}"  th:classappend="${#fields.hasErrors('details.city')} ? 'error-border'">
                        <i th:if="${#fields.hasErrors('details.city')}" class="error-icon fas fa-exclamation-circle">
                            <span th:errors="*{details.city}" class="text-bubble"></span>
                        </i>
                    </div>
                    <div class="input-container">
                        <label>State:</label>
                        <input type="text" th:field="*{details.state}"  th:classappend="${#fields.hasErrors('details.state')} ? 'error-border'">
                        <i th:if="${#fields.hasErrors('details.state')}" class="error-icon fas fa-exclamation-circle">
                            <span th:errors="*{details.state}" class="text-bubble"></span>
                        </i>
                    </div>
                </div>
            </div>

            <div id="staff" th:if="${staff}">
                <input type="hidden" th:field="*{details.id}" />
                <div class="form-frag input-container">
                    <label>Office:</label>
                    <input type="text" th:field="*{details.office}"  th:classappend="${#fields.hasErrors('details.office')} ? 'error-border'">
                    <i th:if="${#fields.hasErrors('details.office')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.office}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="form-frag input-container">
                    <label>Phone Number:</label>
                    <input type="text" th:field="*{details.phoneNumber}"  th:classappend="${#fields.hasErrors('details.phoneNumber')} ? 'error-border'"maxlength="10">
                    <i th:if="${#fields.hasErrors('details.phoneNumber')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.phoneNumber}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="form-frag input-container">
                    <label>Youtube Channel:</label>
                    <input type="text" th:field="*{details.youtubeChannel}"  th:classappend="${#fields.hasErrors('details.youtubeChannel')} ? 'error-border'">
                    <i th:if="${#fields.hasErrors('details.youtubeChannel')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.youtubeChannel}" class="text-bubble"></span>
                    </i>
                </div>
                <div class="form-frag input-container">
                    <label>Profile Picture:</label>
                    <input type="text" th:field="*{details.profilePic}"  th:classappend="${#fields.hasErrors('details.profilePic')} ? 'error-border'">
                    <i th:if="${#fields.hasErrors('details.youtubeChannel')}" class="error-icon fas fa-exclamation-circle">
                        <span th:errors="*{details.profilePic}" class="text-bubble"></span>
                    </i>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</main>
</body>

</html>